.background-color{
    background-color: red;
}

.my-btn {
    background-color: #444f5a !important; 
    /* background-color: #2e353d;  */
    color: whitesmoke !important;
    border-color: #444f5a !important;
  }