{{#extends "base"}}
{{#block "content"}}
<div id="landing-container">
    <div id="landing-page">
        <h1>Staff Login</h1>
        <form method="POST">
            {{{form}}}
            <input class="btn btn-sm my-btn mt-3" type="submit" />
            {{> csrf}}
        </form>
    </div>
</div>
{{/block}}
{{/extends}}