{{#extends "base"}}
{{#block "content"}}
<h1>
    Welcome to Travel Merino
</h1>
<img class="w-100" src="https://www.carryology.com/wp-content/uploads/2018/03/merino-wool-guide-pack-hacker.jpg"></img>

{{/block}}
{{/extends}}