{{#extends 'base'}}
{{#block 'content'}}

<div class="container">
    <h1>Staff Login</h1>
    <form method="POST">
        {{{form}}}
        <input class="btn btn-sm my-btn mt-3" type="submit" />
        {{> csrf}}
    </form>
</div>

{{/block}}
{{/extends}}