{{#extends 'base'}}
{{#block 'content'}}
<h1>Staff Login</h1>
<form method="POST">
    {{{form}}}
    <input class="btn btn-sm my-btn mt-3" type="submit" />
    {{> csrf}}
</form>
{{/block}}
{{/extends}}