{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <h1>User Profile</h1>
    <ul>
        {{!-- <li>Username: {{user.username}}</li>
        <li>Email:{{user.email}}</li> --}}
    </ul>
</div>


{{/block}}

{{/extends}}