{{#extends "base"}}
{{#block "content"}}

<h1>Add New Product</h1>
<form method="POST">
    {{{form}}}
    {{!-- cloudinary --}}
    <div class="mt-2">
        <a href="#" class="btn btn-primary btn-sm" id="upload_widget">Upload Image</a>
        <img src="" style="display:none" id="uploaded_image" />
    </div>
    <input type="submit" class="btn btn-primary btn-sm mt-2"/>
</form>
{{/block}}

{{#block 'js'}}
{{>cloudinaryJs imageId='#id_product_image_url' thumbnailId='#id_product_thumbnail_url'}}
{{/block}}

{{/extends}}