{{#extends "base"}}
{{#block "content"}}
<div class="container">
    <h1>Update Product</h1>
    <form method="POST">
        {{{form}}}
        {{!-- cloudinary --}}
        <div>
            {{#if product.product_image_url}}
            <img src="{{product.product_image_url}}" id="uploaded_image" class="mt-3" style="width: 600px" />
            <div>
                <a href="#" class="btn my-btn btn-sm mt-2" id="upload_widget">Change Image</a>
            </div>

            {{else}}
            <img src="" style="display:none" id="uploaded_image" />
            <div>
                <a href="#" class="btn my-btn btn-sm mt-2" id="upload_widget">Upload</a>
            </div>

            {{/if}}
        </div>
        <input type="submit" value="Update Product" class="btn my-btn btn-sm mt-2" />
        {{> csrf}}
    </form>
</div>
{{/block}}

{{#block 'js'}}
{{>cloudinaryJs imageId='#id_product_image_url' thumbnailId='#id_product_thumbnail_url'}}
{{/block}}

{{/extends}}