{{#extends 'base'}}
{{#block 'content'}}

<h1>Product Variant</h1>
<a href="/products/add-product-variant/{{variantId}}" class="btn btn-primary btn-sm me-2">Add Product Variant</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Size</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {{#each productVariants}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.size_id}}</td>
            <td>{{this.stock}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>


{{/block}}
{{/extends}}